@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.nav {
  text-transform: uppercase;
}

.create {
  background-color: #5F6FFF;
  font-weight: 600;
}
.active hr{
  display: block;
}
.create:hover {
  opacity: 0.9;
}
.nav-link {
  align-items: center;
  margin-left: 220px;
}
.nav-link a:hover {
  color: #5F6FFF;
  transition: 0.3s;
}
/**************/
.header-section,.banner,.doc-book-image ,.line{
  background-color: #5F6FFF;
}
.top-doctor-container{
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.choose-container:hover{
  background-color: rgb(248, 245, 245);
  
  transition: 0.5;
  transition-duration: 0.3s;
  
}
/* .appoin-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  
} */